/*Intro Section*/
.intro-section{
    position:relative;
    z-index: 996;

    &:has(.image-preview-modal),
    &:has(.open-iframe) {
        z-index: 997;
    }

    /*Video Column Style*/
    .video-column{
        position: relative;
        z-index: 1;

        .intro-video{
            position:relative;
            text-align:center;
            width:100%;
            display:block;

            &:before{
                position: absolute;
                content: '';
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                background-color: rgba(0,0,0,0.10);
                border-radius: 12px;
            }
        }
        .course-features-info {
            padding: 25px;
            position: relative;
            background: $whiteColor;
            box-shadow: 0 0 30px #eee;

            &.slim {
                padding: 30px 20px;
            }

            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 20px;
                    padding: 10px 0;
                    line-height: 20px;

                    &.gapper {
                        gap: 40px;
                    }

                    i {
                        color: $primaryColor;
                    }
                    .label {
                        padding-left: 10px;
                    }
                    .value {
                        float: right;
                        line-height: 20px;
                        padding-right: 5px;

                        &.right-align {
                            text-align: right;
                        }
                    }
                }
            }
        }
        .btn-part{
            background: $whiteColor;
            box-shadow: 0 0 35px #eee;
            padding: 30px;
            
            .btn {
                border-radius: 5px;
                width: 100%;

                .single-price-text {
                    font-size: 10px;
                    position: absolute;
                    bottom: 2px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    /*Intro Tabs Style*/
    .intro-tabs{
        position:relative;
        border: none;
        .react-tabs__tab{
            position:relative;
            text-align:center;
            width: 50%;
            display: inline-block;
            button{
                position:relative;
                display:block;
                width: 100%;
                font-size:14px;
                background:none;
                background: $whiteColor;
                color:$darkGray;
                border: 1px solid #eee;
                font-weight:500;
                line-height:24px;
                padding:12px 40px 10px;
                text-transform:capitalize;
                transition:all 500ms ease;                
            }
            &:hover,
            &.react-tabs__tab--selected{
                button {
                    color:$whiteColor;
                    background:$secondaryColor
                }
            }

            &:first-child {
                button {
                    border-top-left-radius: 12px;
                }
            }

            &:last-child {
                button {
                    border-top-right-radius: 12px;
                }
            }
        }
        .react-tabs__tab-panel{
            position:relative;
            overflow:hidden;
            background-color:$whiteColor;
        }
    }
}

/* Course Overview */
.course-overview{
    position:relative;
    .inner-box{
        position:relative;
        padding:0px 40px 40px;
        
        h4, h3, h2{
            color: $titleColor;
            font-weight:600;
            margin-bottom:15px;
        }
    }
}

@media #{$md} {
    .course-overview .inner-box {
        padding: 0px 20px 20px;
    }
}

@media #{$mobile} {
    .intro-section .intro-tabs .react-tabs__tab {
        width: 100%;

        &:first-child button {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        &:last-child button {
            border-radius: 0;
        }
    }
    .intro-section .video-column .course-features-info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .intro-section .video-column .btn-part {
        padding-left: 20px;
        padding-right: 20px;
    }
}