.rs-faq-part{
    &.style1 {
        .main-part{
            background: $faqColor;
            padding: 30px;

            .faq-content{
                .accordion-style1{
                    border: none;

                    .accordion-item{
                        margin-bottom: 5px;
                        font-size: 15px;
                        font-weight: 400;
                        border: none;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .card-header{
                            display: flex;
                            align-items: center;
                            padding: 0;
                            border: none;

                            .card-link{
                                cursor: pointer;
                                position: relative;
                                display: block;
                                width: 100%;
                                padding: 0 45px;
                                height: auto;
                                line-height: 50px;
                                font-size: 16px;
                                font-weight: 600;
                                transition: $transition;
                                background: $whiteColor;
								color: $titleColor;
                                box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
                                &:after {
                                    content: "\f0f3";
                                    position: absolute;
                                    left: 15px;
                                    top: 50%;
                                    font-family: $fontAwesome;
                                    transform: translateY(-50%);
                                }

                                &[aria-expanded=true] {
                                    background: $secondaryColor;
                                    color: $whiteColor;
                                    border-top-left-radius: 12px;
                                    border-top-right-radius: 12px;
                                }
                            }
                        }
                        .card-body{
                            background: $whiteColor;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 25px;
                            color: $bodyColor;
                            padding: 15px 14px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .img-part {
            background: url(media/faq/1.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            min-height: 615px;
            border-radius: 12px;
        }    
    }
}

/* Tablet desktop :991px. */
@media #{$md} {
    .rs-faq-part.style1 .img-part {     
        height: 70%;
        min-height: 570px;
    }

    .rs-faq-part.style1 .main-part .faq-content .accordion-style1 .accordion-item .card-header .card-link {
        &.line-height-25 {
            line-height: 25px;
        }
    }
}

/* small mobile :480px. */
@media #{$mobile} {
    .rs-faq-part.style1 .img-part {
        height: auto;
        min-height: 400px;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion-style1 .accordion-item .card-header .card-link {
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 15px 10px 40px;
    }
}