.rs-newsletter {
    &.style1 {
        .newsletter-wrap {
            border-radius: 12px;
            padding: 50px;
            position: relative;
            .content-part{
                .sec-title{
                    display: flex;
                    align-items: center;
                    .title-icon{
                        img{
                            max-width: 50px;
                            margin-right: 20px;
                        }
                    }

                    .title {
                        font-size: 18px;
                    }
                }
            }
            .newsletter-form {
                position: relative;
                border-radius: 6px;
                overflow: hidden;
                input {
                    background: $whiteColor;
                    border: none;
                    outline: none;
                    width: 100%;
                    color: $bodyColor;
                    padding: 15px 20px;
                }
                button {
                    border: none;
                    outline: none;
                    transition: $transition;
                    padding: 15px 30px;
                    text-wrap: nowrap;
                    color: $whiteColor;
                    background: $orangeColor;
                    &:hover {
                        background: lighten($orangeColor, 5%);
                    }
                }
            }
        }
    }
    &.orange-color {
        .newsletter-wrap {
            background: #171F32;
        }
    } 
}

/* Tablet :767px. */
@media #{$sm} {
    .rs-newsletter.style1 .newsletter-wrap .newsletter-form {
        max-width: 500px;
    }
}

/* Large Mobile :575px. */
@media #{$xs} {
    .rs-newsletter.style1 .newsletter-wrap {
        padding: 40px 20px;
    }

    .rs-newsletter.style1 .newsletter-wrap .newsletter-form input {
        padding: 15px 10px;
    }

    .rs-newsletter.orange-color .newsletter-wrap .newsletter-form button {
        padding: 10px;
    }
}