/* Tablet desktop :768px. */
@media #{$md} {
    .hidden-md {
        display: none !important;
    }
    .md-display-flex {
        display: flex !important;
    }
    .md-flex-wrap {
        flex-wrap: wrap !important;
    }
}


/* Tablet :767px. */
@media #{$sm} {
    .hidden-sm {
        display: none !important;
    }
    h3 {
        font-size: 23px;
    }
}