@charset 'UTF-8';

.slick-slider {
    position: relative; 

    &.slick-initialized .slick-slide {
        display: block;
    }

    .slick-list {
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    div.slick-track {
        position: relative;
        display: flex;
        align-items: stretch;
    }

    .slick-slide {
        display: none;
        min-height: 100%;
        padding: 20px;

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    
        img {
            max-height: 700px;
            object-fit: contain;
            vertical-align: middle;
            display: inline-block;
        
            &.coverable {
                width: 450px;
                height: 450px;
                object-fit: cover;
            }
        }
    }

    .slick-next,
    .slick-prev {
        font-size: 0;
        border: none;
        display: block;
        position: absolute;
        top: 50%;
        width: 35px;
        height: 35px;
        z-index: 1;
        padding: 0;
        background: black;
        border-radius: 50%;
            &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            cursor: pointer;
            font-size: 45px;
            position: absolute;
            top: -2px;
            right: -5px;
            color: #fff;
            line-height: 1;
            font-family: slick, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .slick-next {
        right: 5%;
        &::before {
            content: '→';
        }
    }
    .slick-prev {
        left: 5%;
        &::before {
            content: '←';
        }
    }
}

@media #{$sm} {
    .slick-slider .slick-next {
        width: 25px;
        height: 25px;
        &::before {
            font-size: 35px;
            top: -2px;
            right: -5px;
        }
    }
    .slick-slider .slick-prev {
        width: 25px;
        height: 25px;
        &::before {
            font-size: 35px;
            top: -2px;
            right: -5px;
        }
    }
}