.rs-testimonial {
    &.style2 {
        .testi-wrap {
            overflow: hidden;
            background: $grayColor;
            border-radius: 12px;
            padding: 30px;
            .img-part {
                max-width: 209px;
                float: left;
                margin-right: 58px;
                img {
                    border-radius: 5px;
                }
            }
            .content-part {
                .desc {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    color: $titleColor2;
                    display: inline;
                    position: relative;
                    &:before,
                    &:after {
                        content: "\f151";
                        font-family: Flaticon;
                        font-size: 20px;
                        color: $titleColor2;
                    }
                    &:after {
                        position: relative;
                        bottom: -7px;
                        right: -8px;
                    }
                    &:before {
                        transform: rotateY(180deg);
                        position: absolute;
                        left: -30px;
                        top: -13px;
                    }
                }
                .info {
                    margin-top: 20px;
                    color: $bodyColor;
                    .name {
                        font-size: 18px;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &.main-home{
        background: url(media/bg/main-home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

        .testi-item {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .author-desc {
                flex-grow: 1;
                padding: 20px;
                background-color: #171F3296;
                border-radius: 18px;
                display: flex;

                .desc {
                    min-height: 100%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    position: relative;
                    color: $whiteColor;
                    padding: 70px 10px 30px;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 500;
                    font-style: italic;
                    .quote {
                        width: 55px;
                        top: 0;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:before{
                        content: none;
                    }
                }
                .author-img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 70px;
                    img {
                        width: auto;
                        border-radius: 50%;          
                        background-color: #c9bfbf;              
                    }
                }
            }
            .author-part {
                text-align: center;
                padding-top: 60px;
                .name {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25px;
                    color: $whiteColor;
                    display: block;
                    margin-bottom: 0;
                    padding: 0;
                }
                .designation {
                    font-size: 14px;
                    color: $whiteColor;
                }
            }
        }
    }
}

/* Lg Device :1199px. */
@media #{$lg} {
    .rs-testimonial.style2 .testi-wrap .img-part {
        max-width: 200px;
        margin-right: 50px;
    }
    .rs-testimonial.style2 .testi-wrap .content-part {
        display: block;
        padding-right: 15px;
    }
}

/* Tablet desktop :991px. */
@media #{$md} {
    .rs-testimonial.style2 .testi-wrap .content-part .desc {
        font-size: 16px;
        line-height: 18px;
    }
    .rs-testimonial.style2 .testi-wrap .content-part .info .name {
        margin-top: 10px;
        font-size: 14px;
        line-height: 25px;
    }
}

/* Tablet :767px. */
@media #{$sm} {
    .rs-testimonial.main-home .testi-item .author-desc .desc {
        font-size: 16px;
        padding: 65px 0 30px;
        line-height: 25px;
    }
    .rs-testimonial.style2 .testi-wrap {
        padding: 15px 25px;
    }
}

/* Large Mobile :575px. */
@media #{$xs} {
    .rs-testimonial.style2 .testi-wrap .img-part {
        float: unset;
        width: auto;
        margin-right: 0;
    }
    .rs-testimonial.style2 .testi-wrap .content-part {
        padding: 25px 15px 0 40px;
    }
}