[class^="flaticon-"]:before {
    font-family: Flaticon;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    margin-left: 0;
}
.flaticon-location:before { content: "\f12d"; }
.flaticon-call:before { content: "\f12b"; }
.flaticon-email:before { content: "\f12c"; }
.flaticon-banknote:before { content: "\f120"; }
.flaticon-flower:before { content: "\f11d"; }
.flaticon-analysis:before { content: "\f105"; }